# IDE
/.idea/
/.vs/
**/.vs/
*.suo
*.user
*.VC.db
*.VC.opendb
*.aps

# Build directories
/build/
/out/
/cmake-build-*/
/Saper/Debug/
/Saper/Release/
/Saper/x64/
/Saper/x86/
/Saper/Saper/Debug/
/Saper/Saper/Release/
/Saper/Saper/x64/
/Saper/Saper/x86/
/CMakeFiles/
/CMakeCache.txt
/compile_commands.json
/Testing/
/install/
/_deps/

# Local dependency checkouts
/.deps/

# C/C++ artifacts
*.d
*.gch
*.pch
*.obj
*.o
*.lo
*.slo
*.ilk
*.pdb
*.idb
*.exp
*.lib
*.a
*.so
*.dylib
*.dll
*.exe
*.out
*.app

# CMake user presets
/CMakeUserPresets.json

# Archives
/Sapper*.zip
